# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
secdanv/
venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyCharm / VS Code / other editors
.vscode/
.idea/
*.swp
*.swo

# Database files
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db
